
   #container {
                          float:center;
                          background-image:url(lock.jpeg);
                          width:700px;
                          height:700px;

                          background-size:800px 700px;
                    }
  #container1
                   {
                          background-color: #ffffff;
                         margin: 100px 100px 100px 100px;
                         font-family: Raleway;
                         padding: 40px;
                         width: 70%;
                         min-width: 300px;
 #input[type=text]
                    {
                           float:center;
                            width: 50%;
                             box-sizing: border-box;
                              border: 2px solid #ccc;
                              border-radius: 4px;
                              font-size: 16px;
                              background-color:white;

                              background-position: 10px 10px;

                                  padding: 6px 10px 6px 20px;
                    }
